/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Defined styles start here */

:root {
    --main-color: #34d399;
    --secondary-color: #f87171;
    --box-shadow-std: black 5px 5px 10px;
    --game-grid-size: min(60vh, 80vw);
    box-sizing: border-box;
}

html {
    display: flex;
    background-color: rgb(201, 201, 201);
    height: 100%;
    min-height: 500px;
    width: 100%;
    min-width: 400px;
}

body {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr max(300px, var(--game-grid-size)) 1fr;
    grid-template-rows: 1fr max(300px, var(--game-grid-size)) 1fr 1fr;
    row-gap: 20px;
}

body > * {
    box-shadow: var(--box-shadow-std);
}

.game-grid {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 10px;
}

.game-grid > div {
    display: flex;
    flex: 1;
}

.game-grid > div > div {
    flex: 1;
    background-color: rgb(252, 239, 223);
    border: solid black 1px;
}

.game-grid > div > .tree-tile {
    background-color: darkgreen;
}

.game-grid > div > .wolf-tile {
    background-color: black;
}

.game-grid > div > .rabbit-tile {
    background-color: rgb(247, 145, 13);
    display: flex;
}

.options-field {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 10px;
    
    background-color: var(--main-color);
    border-radius: 10px;
    padding: 5px;
}

.grid-size-adjustment,
.tree-quantity-adjustment,
.wolf-quantity-adjustment,
.rabbit-quantity-adjustment {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 10px;
}